.lm-player-volume-popup {
  .ant-tooltip-inner {
    display: flex;
    width: 30px;
    height: 130px;
    padding: 12px 6px;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
  }

  .ant-slider-vertical {
    margin: 0;
  }

  .ant-slider-track {
    background-color: var(--primary, #1890ff);
  }

  .ant-slider-handle::after {
    background-color: var(--primary, #1890ff);
    box-shadow: 0 0 2px var(--gray1, #fff);
  }
}
