@font-face {
  font-family: "lm-player-iconfont";
  src: url('//at.alicdn.com/t/font_1153292_a0uo14qpush.eot?t=1557107795874');
  /* IE9 */
  src: url('//at.alicdn.com/t/font_1153292_a0uo14qpush.eot?t=1557107795874#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAlMAAsAAAAAE2wAAAj/AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCFMAqUcJEXATYCJANICyYABCAFhWUHgh4boxAR1az/IPt5YDtbuYND6RkMnk1+kzBlTJqnzecfp/r3CVxZModwnQrAKrHrSHLZITcFALllZ+MAnVOXnJTRHnCSbf8b0hEoY3YDBBDcv99e3UsYhPlkyKju7RYhB/ww7r/jyFC2wtdW2boygIPJ/dA6qgKsUrtQUNNCszuLOe+BTIIymCA+KuOHdO1D/NDSh9QfAtbmDlYBGBiFyrJe2/1AAPDIRU+QCZNmyODAQPGEEiuXlRWBKwWB6bAk4CSD41wG5Cmw4KgjVDOAJ+3Hk6/Rn3AABZaGOta5ZGIpJJ1qz6e1hIaFkQaow6kAxhcBNICeABiARJyRraBT0NMKvKs8g+MAsmGTLzXplM7qLl3WF+le/ZD+hP6U3qK/325oz08kgA5dxn+JVl7tlEqQrXVz/Xf8bzyAAg0GLAwg6AAORvAQYIIZFlhhgx0gBiCYpO57WXZApwIeFjIg0EAWHnXoggdQBsEAXAQCAZaA0AFYCgIH9IJgBB4CgQc+AYIAfAoEE7AFBDPwfXzAArQbEKwW5oFgA+YTATuU4IjOEQEMAegxAKMAcb+NpEF9KCoFIgltScBKpnLesUNHOUx2Mx4tNpsjO9VEGLWzzaioUGYoZ+qbbEoyGBid5qlOSxsRPKfx6IUbYtehYkVyU/hSdnZ6ekM2kJNRmVKbITzUpnTLrMrk6qKyJC3LR7Ky6rMIT6vvoXc422Ub6ZibmZmaGWSceb61tbNQUgcTLoqdEFLIn3L6/v3LGSkHwblGSraG2tuvXJSTuyaLJ2+9KopRGZEf7BdSg5113PCq1M4mf/DWufOdOlVuWfZUdEhaORnS5SbpXdIae5yV+HH/9j4rmIqKVJX3VxHiqxYEd3VlkUtWnYo8x60UqB3be2MxFdff1t4aiHh8EIB2yiJyM+R7MJhEo0okUtKPTIG8+HMe4dT9DKbmnsgHH2Sy9aGS8gtWrKs8rTUlr63wB+sI66tvLC8j9aHy+xlYA22cHzX3/A8ySd8TfKEuXqVSa/KnqpGIegI1HndPhGiOnwhnbPH4jk650NXHSMQzqNh8Drzp2DtsicXkSESJRt1eQOi8YSSmxuLu+MeKu/pUiqI1papVdWkrvCMzqJrJ8Zl0fUjVeN7tKpjjZqA6LVKFm+OUYlmnwvspnyDIafcu2Z9plKh+0o4tJWZf8R7rqdP+jk2iJXhmSWcfgUDkoKWy+u2WVFWA0irT3NW+VE+P6sYU5VR5l7O/ebfK2mS5RstQKmuSu1acTFWDflGuCKZ2v6Kd3fW+TLWqfocAnlikocAawhrJz2WrPFOU1EdJ3JW4gv/HFQqvUd3dZcUdnWVieabErfZQZDMrMKvTf8qf5zZtbBvXb9yY3Q9/m7lOsB6uS57w9aWn+/V1UXa7OCJv1PIjB57du8P4xkxXwaSh3c1WixEY1XF1w4GKlQ/Tfu2I3v3W5aKosN/FmW+s+/Lx7M8WX2te6p448bmJc/LDtvWul39ml/p/X3BT+3L3L6cXHhnXL3M2bc1k2aEzO0Ue+3hi8nfWPt9Pey2uRz6yEvUtA8erNs2Vfg+u7j92WXiWafk3uuqtPCUxCBPQBZ2yjmxv//CEz9uf+eS5doIfXn2W2+f9vHmPsdn4XsDtyfJ599V++36pqBrW6HXsV9wCMq24eCqZK5FpRJqbYAXcx/szxv1evXm3wz1+t36cbFClxJSEpE4hHg+ZorHoOKGJeiocfopSVlJPPkmtBAMLL1SeosMhJEJSYAAPfkDAdvcOKttAiJlyfzeL5t/jG13P2vWKWTa/sisLoZDEDxg8gJf6YHQNSKWy78wvLW0Rz4jv8TWWuP7O2TJ487BDMexj7v/zz31mH2KHhm0evCXn715X6eNtbcdDjh51oo/n22EQ1hQXtzx65tH35NfwOv/I2TR449AD/4ePufPHH3cYH/5/YOjGwZty/uh5mT4ajQYkR0scLgAOnu+8Pm82Wb6MOMns5ctnx5bLlpN1t2wZBl3yXlTk35/g6sjod0HzpnmTH9ILJsybNCDSe2n/JS941qauzjh8hqyXiD/Ycij3UMbXW4ftGrRnQmKNa90szlK2YPrAV86Z+Wb7C7/enR3tdQtjxmj3mraKWKgcAh5PIsbj+SiZFChMfDhr9FFnDbv6/cxPoPNQqtA4sDjgzaOFfc/QH9Fn+lpltKR6GOMJe5PY0/iMxv4b/jDyxj/yx7tuZN9ApEI5rNU8CPbp3YfwGu1wKS93JPjgp94/Mdoj3GH3VjAUmhQOSyBnTAKSZBJLT06Y8Oyw+PrTep9IHzZu0EQu2PpNkJs4aNyw9BPYc3TPh1o7IedlUz6ChOZF+SSMacN4y/dhAImnGZqeBmZmBqD9VBsA1J/x/bJYb62lufBOI6gPIHGFbqWlgXWIfo4h81t6P835wPC/dCJdOBcQ6iDqugBhlygdSlsDsNQv+37o/D0Nn9aRv3LCn/2ktl+vPwv28iI5UG1RBPgdR8Nc4192xahgxxYNG5AHjXb4/TFMpwDwehCQOE2Y/1OLKd5EBBwlauxKoQO6ANqlKwGD7oErCwEuYED33ZVHD3ixgCTfaBBmBKC7H1wJRH+uFCz4m6MxzQgYdHu5skhtDjCgW+bKQ638mgI69zE/nkAxDER/KmqNyZhDeW1lrJqgpkBVdTlPYEtQ1FjD/CPegHKNSXRkuyXnHBLQqU7II9tlNsIQRnG2eBiEgKIhHIJm6ZibXqtlXC+QGuPMGsYjQGFgQOibRr5rGkrMTmwNK0WVxm5dmQKk8gBPMtIqy7aTd50R3qRmJsarL3RI7Z00z4XkrvbW8mcjVldaMqMaJLMj4WyigqAzkdC49xoCGpPcDumNnpZozvgK8vRi/OZmAfBQv9QRJcmKqumGadmO6/nEThwkCcszUA3qZDc2YygRKh0ww37h4IQUVahM6UNaq58Y1WTNqUqGz1tVp1Xnh0KmhdfnI8bLNNHaKXwCRpXAFa2NkPuy8O4CQ5Bd5c2Jk5rPSggjeTXl1/Z60jMW0rA9DzLSHX6aV50o8qsFoEi7I5ysOAlGZyrz1iyYcFLh86a2jmdmAA==') format('woff2'), url('//at.alicdn.com/t/font_1153292_a0uo14qpush.woff?t=1557107795874') format('woff'), url('//at.alicdn.com/t/font_1153292_a0uo14qpush.ttf?t=1557107795874') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('//at.alicdn.com/t/font_1153292_a0uo14qpush.svg?t=1557107795874#lm-player-iconfont') format('svg');
  /* iOS 4.1- */
}
.lm-player-iconfont {
  font-family: "lm-player-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lm-player-Loading:before {
  content: "\e65d";
}
.lm-player-volume-close:before {
  content: "\e602";
}
.lm-player-volume-normal-fuben:before {
  content: "\e604";
}
.lm-player-volume-max:before {
  content: "\e605";
}
.lm-player-Pause_Main:before {
  content: "\e652";
}
.lm-player-Play_Main:before {
  content: "\e654";
}
.lm-player-ZoomIn_Main:before {
  content: "\e663";
}
.lm-player-ZoomDefault_Main:before {
  content: "\e664";
}
.lm-player-ZoomOut_Main:before {
  content: "\e665";
}
.lm-player-Refresh_Main:before {
  content: "\e687";
}
.lm-player-ExitFull_Main:before {
  content: "\e68e";
}
.lm-player-Full_Main:before {
  content: "\e690";
}
.lm-player-PlaySource:before {
  content: "\e6cd";
}
.lm-player-YesorNo_No_Dark:before {
  content: "\e6dd";
}
.lm-player-SearchBox:before {
  content: "\e706";
}
.lm-player-PrevFast:before {
  content: "\e71f";
}
.lm-player-NextFast_Light:before {
  content: "\e720";
}

.slider-layout {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider-layout .slider-content {
  width: 100%;
  height: 2px;
  position: relative;
  transition: height 0.2s;
  cursor: pointer;
  overflow: hidden;
}
.slider-layout .slider-other-content {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: height 0.2s;
  cursor: pointer;
  z-index: 9;
  pointer-events: none;
}
.slider-layout .slider-max-line {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 4px;
}
.slider-layout .slider-visibel-line {
  position: absolute;
  background: #5b7eac;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  cursor: pointer;
  border-radius: 4px;
}
.slider-layout .slider-current-line {
  position: absolute;
  background-color: #ffaa00;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  border-radius: 4px;
}
.slider-layout .drag-change-icon {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: -3px;
  border: 1px solid #fff;
  background-color: #ffaa00;
  top: -3px;
  pointer-events: all;
  box-sizing: content-box;
}
.slider-layout:hover .slider-content,
.slider-layout:hover .slider-other-content {
  height: 4px;
}
.slider-layout:hover .drag-change-icon {
  width: 10px;
  height: 10px;
  top: -4px;
  margin-left: -5px;
}
.lm-player-slide-tips {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: -26px;
  transform: translate(-50%, -100%);
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  z-index: 6;
  padding: 2px 4px;
  white-space: nowrap;
  z-index: 99;
}

.contraller-bar-layout {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(29, 33, 53, 0.8);
  height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.3s;
}
.contraller-bar-layout.hide-contraller-bar {
  opacity: 0;
}
.contraller-bar-layout .contraller-bar-item {
  float: left;
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
}
.contraller-bar-layout .contraller-bar-item .lm-player-iconfont {
  cursor: pointer;
}
.contraller-bar-layout .contraller-bar-item .lm-player-iconfont:hover {
  color: #ffaa00;
}
.contraller-bar-layout .contraller-bar-item.contraller-bar-volume {
  display: inline-block;
  position: relative;
  transition: all 0.3s;
  white-space: nowrap;
  overflow: hidden;
}
.contraller-bar-layout .contraller-bar-item.contraller-bar-volume .volume-slider-layout {
  width: 100px;
  height: 28px;
  position: absolute;
  left: 32px;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.contraller-bar-layout .contraller-bar-item.contraller-bar-volume .volume-slider-layout .slider-max-line {
  background-color: #5b7eac;
}
.contraller-bar-layout .contraller-bar-item.contraller-bar-volume .lm-player-iconfont {
  line-height: 28px;
  width: 28px;
  display: inline-block;
  text-align: center;
}
.contraller-bar-layout .contraller-bar-item.contraller-bar-volume.contraller-bar-hover-volume {
  width: 148px;
}
.contraller-bar-layout .contraller-bar-item.contraller-bar-volume.contraller-bar-hover-volume .volume-slider-layout {
  opacity: 1;
}
.contraller-scale-layout {
  position: absolute;
  right: 10px;
  bottom: 60px;
  opacity: 1;
  transition: opacity 0.3s;
}
.contraller-scale-layout.hide-contraller-bar {
  opacity: 0;
}
.contraller-scale-layout .contraller-bar-item {
  display: block;
}

.lm-player-message-mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: transparent;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
}
.lm-player-message-mask.lm-player-mask-loading-animation {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.lm-player-message-mask .lm-player-loading-icon {
  position: relative;
  font-size: 48px;
  z-index: -1;
  visibility: hidden;
}
.lm-player-message-mask .lm-player-loading-icon.lm-player-loading-animation {
  visibility: visible;
  z-index: 9;
  animation: loadingAnimation 1s linear infinite;
}
.lm-player-message-mask .lm-player-loading-icon.lm-player-loadfail {
  visibility: visible;
  z-index: 9;
}
.lm-player-message-mask .lm-player-message {
  color: #fff;
  font-size: 16px;
  padding: 10px;
}
@keyframes loadingAnimation {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-time-line-layout {
  position: absolute;
  left: 0;
  bottom: 33px;
  width: calc(100% - 10px);
  margin-left: 5px;
  height: 20px;
  background: rgba(29, 33, 53, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 9;
  opacity: 1;
  transition: opacity 0.3s;
}
.video-time-line-layout.hide-time-line {
  opacity: 0;
}
.video-time-line-layout .time-line-box {
  flex: 1;
}
.video-time-line-layout .time-line-action-item {
  width: 32px;
  text-align: center;
  font-size: 16px;
}
.video-time-line-layout .time-line-action-item:hover {
  color: #ffaa00;
  cursor: pointer;
}
.video-time-line-layout .history-time-line-item {
  background: #5b7eac;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
}
.video-time-line-layout .history-time-line-item.history-time-line-disabled {
  background: #000;
  z-index: 4;
}

.lm-player-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: #000;
  box-sizing: border-box;
}
.lm-player-container .lm-player-iconfont {
  color: #fff;
}
.lm-player-container .player-mask-layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.lm-player-container .player-mask-layout > video {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #000;
}
