.contraller-bar-layout {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(29, 33, 53, 0.8);
  height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.3s;
  &.hide-contraller-bar {
    opacity: 0;
  }
  .contraller-bar-item {
    float: left;
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;

    .lm-player-iconfont {
      cursor: pointer;
      &:hover {
        color: #ffaa00;
      }
    }
    &.contraller-bar-volume {
      display: inline-block;
      position: relative;
      transition: all 0.3s;
      white-space: nowrap;
      .volume-slider-layout {
        width: 100px;
        height: 28px;
        position: absolute;
        left: 32px;
        top: 0;
        opacity: 0;
        transition: opacity 0.3s;
        .slider-max-line {
          background-color: #5b7eac;
        }
      }
      .lm-player-iconfont {
        line-height: 28px;
        width: 28px;
        display: inline-block;
        text-align: center;
      }
      &.contraller-bar-hover-volume {
        width: 148px;
        .volume-slider-layout {
          opacity: 1;
        }
      }
    }
  }
}
