.loading-mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: transparent;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  &.mask-loading-animation {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  .video-loading-icon {
    position: relative;
    font-size: 48px;
    color: #fff;
    z-index: -1;
    visibility: hidden;
    &.video-loading-animation {
      visibility: visible;
      z-index: 9;
      animation: loadingAnimation 1s linear infinite;
    }
  }
}

@keyframes loadingAnimation {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
