.video-time-line-layout {
  position: absolute;
  left: 0;
  bottom: 33px;
	width: calc(~"100% - 10px");
	margin-left:5px;
  height: 20px;
	background: rgba(29,33,53,0.80);;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px; 
	.time-line-box{
		flex:1;
	}
	.time-line-action-item{
		width: 32px;
	}
}
